/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* CSS Variables */
:root {
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Open Sans", sans-serif;
    --primary-color: #72a0c0; /* blue */
    --secondary-color: #b0cdd8; /* pale blue */
    --primary-color-highlight: #8c9ca6; /* dark blue */
    --secondary-color-highlight: #93d1da; /* light blue */
    --background-color: #fafafa; /* light gray */
    --text-color: #333; /* dark gray */
}

body {
    background-color: var(--background-color);
    font-family: var(--primary-font);
    color: var(--primary-font-color);
}
html {
    scroll-padding-top: 64px;
}

h1,
h2,
h3 {
    scroll-margin-top: 64px; /* ensures anchor links don't hide headings */
}

h1,
h2,
h3,
p,
address {
    font-family: var(--secondary-font);
    color: var(--text-color);
}

h1,
h2 {
    text-transform: uppercase;
}

/* Navbar */
.logo {
    width: 30px;
    height: 30px;
}
#header .lead {
    font-family: var(--secondary-font);
}
#navbar {
    background-color: var(--primary-color);
}
.nav-item a:hover {
    color: var(--secondary-color-highlight);
}

/* Hero Section */
.hero-section {
    min-height: 40vh;
    background: url("../images/hero.webp") center top/cover no-repeat;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    padding-top: 4rem;
}
/* affirmation linebreak */
.affirmation {
    font-size: 1.2rem;
    font-family: var(--secondary-font);
    color: var(--text-color);
    opacity: 0;
    transition: opacity 1s;
    min-height: 2.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.affirmation.visible {
    opacity: 1;
}
/* Section Divider */
.section-divider {
    border: none;
    border-top: 2px solid var(--primary-color);
    opacity: 1;
    height: 0;
}

/* Cards both sections  */

/* Self-Care Cards: Uniform width and centering */
#info-section .card,
#self-care .card {
    max-width: 260px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Card Images */
#info-section .card-img-top,
#self-care .card-img-top {
    height: 120px;
    object-fit: cover;
}

/* Card Title Color */
#self-care .card-title,
#info-section .card-title {
    color: var(--primary-color);
}
#info-section .card-text,
#info-section .card-body,
#self-care .card-text,
#self-care .card-body {
    color: var(--text-color);
}

/* Card Body Padding */
#info-section .card-body.p-3,
#self-care .card-body.p-3 {
    padding: 1rem !important;
}

#info-section .card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    background-color: #f0f8ff;
}

#info-section .card {
    position: relative;
}

#info-section .card:hover::after {
    content: "more info";
    position: absolute;
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    white-space: nowrap;
}
/* Footer Section */

#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}

#contact h2 {
    color: white;
}

#contact .sub-heading-color {
    color: var(--highlight-color-light);
}

#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links i {
    color: var(--highlight-color-light);
    font-size: 1.9rem;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
}

/* Media queries */

/*  small devices (phones, 576px and up) */
@media screen and (min-width: 576px) {
    .info-card .card-img-top,
    .info-card,
    .carousel-item.expanded {
        flex-direction: column;
        max-width: 95vw;
    }
    .carousel-item.expanded .card-img-top {
        width: 100%;
        min-width: 0;
        height: 180px;
    }
}

@media (max-width: 768px) {
    #info-section .card::after {
        content: "More Info";
        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--primary-color);
        color:var(--text-color);
        padding: 5px 10px; 
        font-size: 12px;
        border-radius: 5px;
        white-space: nowrap;
    }
}

/* Medium devices (tablets, 768px and up) */

@media screen and (min-width: 768px) {
    .info-card .card-img-top {
        width: 200px;
        height: 200px;
    }
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
    .info-card .card-img-top {
        width: 220px;
        height: 220px;
    }
}

/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    /* make all service cards the same height for consistency */
    #self-care .card-body {
        max-height: 200px;
        max-width: fit-content;
    }
}
